<h3>Edit {{celebrity.name}}</h3>



<form action="/celebrities/update/{{celebrity._id}}" method="POST">

<label>Name</label>
<input name="name" type="text" value="{{celebrity.name}}">

<label>Occupation</label>
<input name="occupation" type="text" value="{{celebrity.occupation}}">

<label>Phrase</label>
<input name="catchPhrase" type="text" value="{{celebrity.catchPhrase}}">



<button> Save Changes</button>


</form>
